/vendor/
/var/
/public/bundles/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/
/public/uploads/
/translations/*.mo
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
